{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Регистрация</title>
{% endblock %}

{% block files %}

{% endblock %}

{% block content %}
<div class="main__area">
    <div class="signin_area">
        <div class="signin_area_2">
            <form action="" method="post">
                <p><label>Логин:<br>{{ form.login }}</label></p>
                <p><label>Пароль:<br>{{ form.password }}</label></p>
                <p><label>Имя:<br>{{ form.first_name }}</label></p>
                <p><label>Фамилия:<br>{{ form.last_name }}</label></p>
                <p><label>Пол:<br>{{ form.gender }}</label></p>
                <p><label>Возраст:<br>{{ form.age }}</label></p>
                <p><label>Вес:<br>{{ form.weight }}</label></p>
                <p><label>Рост:<br>{{ form.height }}</label></p>
                <button class="button-9" type="submit">Зарегистрироваться</button>
            </form>
            {{ error }}
        </div>
    </div>
</div>

{% endblock %}